<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form>
		<p:panel header="Error 404 - Recurso no encontrado">
		<p:panelGrid columns="1">
		<p:graphicImage library="img" name="error500.jpg" />
		<h:link value="Regresar" outcome="login"/>
		</p:panelGrid>

		</p:panel>
	</h:form>

</h:body>
</html>